.header{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        margin: 0;
        width: 430px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link{
        font-weight: 900;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        &:hover{
            color: $red-color
        }
        &-contacts{
            color: $red-color
        }
    }
}