.promo{
    padding: 65px 0 180px 0;
    position: relative;
    // background: url('../img/promo/bg.jpg') center center/cover no-repeat;
    background: $main-color;
    z-index: 2;
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top: 135px;
    }
    &__link{
        font-size: 26px;
        line-height: 112%;
        color: #FFFFFF;
        &:hover{
            color: #FFFFFF;
        }
    }
    &__logo{
        display: none;
        position: absolute;
        top: 20px;
        left: 10px;
    }
    &__symbol{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        svg{
            width: 850px; 
            height: 720px;
        }
    }
}